# Count YAML normally
*.yml linguist-detectable=true
*.yaml linguist-detectable=true
# Treat Jinja templates as YAML (but keep them detectable)
*.j2 linguist-language=YAML linguist-detectable=true
#Ignore images from language stats
diagrams/* linguist-documentation
