- name: Install MariaDB
  yum:
    name:
      - mariadb-server
      - python3-PyMySQL
    state: present

- name: Start and enable MariaDB
  service:
    name: mariadb
    state: started
    enabled: true

- name: Set MariaDB root password
  mysql_user:
    name: root
    host: localhost
    password: "{{ mariadb_root_password }}"
    login_unix_socket: /var/lib/mysql/mysql.sock
    state: present

- name: Remove anonymous users
  mysql_user:
    name: ''
    host_all: true
    login_user: root
    login_password: "{{ mariadb_root_password }}"
    state: absent

- name: Remove test database
  mysql_db:
    name: test
    login_user: root
    login_password: "{{ mariadb_root_password }}"
    state: absent

